body {
    background-image: url(homepagewllpr.jpg);
  margin: 0;
       background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}